<!DOCTYPE html>
<html>
  <head>
    <title>todo</title>
    <link rel="stylesheet" href="https://unpkg.com/basilcss@1.1.2/basil.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📝</text></svg>"
    />
  </head>
  <style>
    .handle:hover {
      cursor: pointer;
    }
    /* remove ul */
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .progress {
      height: 20px;
      width: 100%;
      background-color: #f3f3f3;
      border-radius: 50px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .progress-bar {
      height: 100%;
      background-color: #007bff;
      transition: width 0.5s;
    }
  </style>
  <body>
    <div class="m-1" id="app">
      <h1>Progress</h1>
      <div class="progress">
        <div
          class="progress-bar"
          :style="{width: completedTasksPercentage + '%'}"
        ></div>
      </div>
      <input
        class="p-1"
        v-model="newTask.description"
        type="text"
        placeholder="New task"
      />
      <button class="btn-primary m-1" @click="createTask()">+</button>
      <ul>
        <li
          class="m-2"
          v-for="(task, index) in tasks"
          :key="task.id"
          draggable="true"
          @dragstart="dragStart($event, index)"
          @dragover.prevent
          @drop="drop($event, index)"
        >
          <div class="flex-row-justifyLeft-alignCenter">
            <div class="handle m-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M72,92A12,12,0,1,1,60,80,12,12,0,0,1,72,92Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,128,80Zm68,24a12,12,0,1,0-12-12A12,12,0,0,0,196,104ZM60,152a12,12,0,1,0,12,12A12,12,0,0,0,60,152Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,128,152Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,196,152Z"
                ></path>
              </svg>
            </div>
            <h3>{{ task.description }}</h3>
            <button class="btn-primary m-1" @click="deleteTask(index)">
              Delete
            </button>
            <button class="btn-primary m-1" @click="updateTask(index)">
              Update
            </button>
            <button class="btn-primary m-1" @click="completeTask(index)">
              Complete
            </button>
          </div>
        </li>
      </ul>
      <h2>Notebook</h2>
      <textarea v-model="notebook" rows="10" cols="50"> </textarea>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            newTask: { id: "", description: "" },
            tasks: JSON.parse(localStorage.getItem("tasks")) || [],
            notebook: "",
          }
        },
        computed: {
          completedTasksPercentage() {
            if (!this.tasks.length) return 0
            const completedTasks = this.tasks.filter(
              (task) => task.completed
            ).length
            return (completedTasks / this.tasks.length) * 100
          },
        },
        methods: {
          createTask() {
            this.newTask.id = Date.now()
            this.newTask.completed = false // add this line
            this.tasks.push({ ...this.newTask })
            this.newTask.description = ""
            this.saveTasks()
          },
          deleteTask(index) {
            this.tasks.splice(index, 1)
            this.saveTasks()
          },
          updateTask(index) {
            const newDescription = prompt("New description:")
            this.tasks[index].description = newDescription
            this.saveTasks()
          },
          completeTask(index) {
            this.tasks[index].completed = !this.tasks[index].completed
            this.saveTasks()
          },
          dragStart(event, index) {
            event.dataTransfer.effectAllowed = "move"
            event.dataTransfer.setData("text/plain", index)
          },
          drop(event, index) {
            const oldIndex = event.dataTransfer.getData("text/plain")
            this.tasks.splice(index, 0, this.tasks.splice(oldIndex, 1)[0])
            this.saveTasks()
          },
          saveTasks() {
            localStorage.setItem("tasks", JSON.stringify(this.tasks))
            localStorage.setItem("notebook", this.notebook)
          },
        },
        created() {
          this.notebook = localStorage.getItem("notebook") || ""
        },
      })
      app.mount("#app")
    </script>
  </body>
</html>
